PORT=4000

DATABASE_URL=postgresql://<USERNAME>:<PASSWORD>@<HOST>/<DB_NAME>?sslmode=require

NODE_ENV=development

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=<SMTP_EMAIL>
SMTP_PASS=<SMTP_PASSWORD>
SENDER_EMAIL=<SENDER_EMAIL>

CLIENT_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=<CLOUD_NAME>
CLOUDINARY_API_KEY=<CLOUDINARY_API_KEY>
CLOUDINARY_API_SECRET=<CLOUDINARY_API_SECRET>


GOOGLE_CLIENT_ID=<GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<GOOGLE_CLIENT_SECRET>
GOOGLE_CALLBACK_URL=http://localhost:4000/api/v1/auth/google/callback

QSTASH_URL=https://qstash.upstash.io
QSTASH_TOKEN=<QSTASH_TOKEN>

# Used in production for verifying signatures
QSTASH_CURRENT_SIGNING_KEY=<QSTASH_CURRENT_SIGNING_KEY>
QSTASH_NEXT_SIGNING_KEY=<QSTASH_NEXT_SIGNING_KEY>

WORKFLOW_URL=<WORKFLOW_URL>
